{
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill":false
      }
    ]
  ],
  "presets": [
    "react-app"
  ],
  "env": {
    "development":{
      "presets":["react-hmre"]
    }
  }
}